body {
  background-color: #444;
  background-image: url(d6b993cd3a71d84e8dd51dc9bf01f537.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

